:root {
    --color-primary: #2384c4;
    --color-secondary: #73bbeb;
    --base-text-color: rgb(0, 0, 0);
    --base-color: #c9d7dd;
    --base-soft-contrast: #f1f1f1;
    --contrast-color: #9b9b9b;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #ddd;
    font-size: 24px;
    position: relative;
}

header {
    display: flex;
    box-sizing: border-box;
    color: white;
    height: 100px;
    background-color: #2384c4;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 2.1rem;
    top: 0;
    z-index: 100;
    box-shadow: 0px 0px 5px 4px #00000088;
    text-align: center;
}

#left-pane {background-color: white;}

#content {
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}

.c-element {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--contrast-color);
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.c-element.hidden {width: fit-content; padding: 0 20px;}
.c-element.hidden > .element-content {display: none;}

.c-element > * {margin-bottom: 10px;}

.el-title {
    text-align: center;
    border-width:0 0 1px 0;
    border-color: var(--contrast-color);
    border-style: solid;
    display: grid;
    grid-template-columns: fit-content(10%) auto;
}

.el-title > button {
    background-color: white;
    color: #89929b;
    font-weight: bold;
    font-size: 28px;
    width: 32px;
    height: 32px;
    padding: auto;
    border-radius: 50%;
    cursor: pointer;
    margin: auto 5px;
    border: 1px solid #89929b;
}

.el-title > button:hover {box-shadow: 0 0 5px 1px #89929b;}

.element-content {
    display: flex;
    flex-direction: column;
    align-items : center;
    padding: 0 10px; 
    text-align: center;
}
.element-content p {text-align: justify;}

.element-content h3 {text-align: center;}
.element-content p {font-size: 1rem;}
.element-content > * {margin-bottom: 10px;}
.element-content table {width: fit-content;}

table {
    border-spacing: 0;
    border-radius: 10px;
    border: 1px solid var(--contrast-color);
    padding: 0px;
    overflow: hidden;
}

table td {padding: 10px;}

table tr:nth-child(odd) {
    background-color: var(--base-soft-contrast);
}

table * {
    font-size: 18px;
}

table th {
    border-right: 1px solid var(--contrast-color);
    padding: 5px;
    text-align: right;
}

table td {
    text-align: start;
}

.argument {
    display: flex; 
    flex-wrap: wrap; 
    line-height: 32px;
    align-items: center;
}

.argument > div {
    margin-left: 5px;
}

.argument .arg-type {
    font-style: italic;
    padding: 2px 5px;
    background-color: var(--base-soft-contrast);
    border-radius: 5px;
    border: 1px solid var(--contrast-color);
}

.code-view {
    display: flex;
    min-width: none;
}

.code-view td * {
    display: inline; 
    word-wrap: break-word; 
    overflow-wrap: anywhere
}

.code-view td {width: 100%;}

.code-view * {
    font-family: 'Courier New', Courier, monospace;
    background-color: #161b22;
    color: #c6cdd5;
    width: fit-content;
    border: none;
}

.code-view .keyword {color: #cea5fb;font-weight: bold;}

.code-view .primitive {color: #fa7970;}

.code-view .symbol {color: #faa356;}

.code-view .element {color: #a2d2fb;}

.code-view .string {color: #7ce38b;}

.code-view .method {color: #77bdfb}

.code-view .comment {color: #89929b;}

.w-100 {width: 100%;}


#test {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: black;
}

#test div {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    animation: grow 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

#test div:nth-child(1) {
    animation-delay: -0.24s;
}

#test div:nth-child(2) {
    animation-delay: -0.12s;
}

#test div:nth-child(3) {
    animation-delay: 0;
}

@keyframes grow {
    0% {
        transform: scale(0.1);
    }
    50%, 100% {
        transform: scale(1);
    }
}

#touch-example-div {
    width: 100%;
    height: 250px;
    border: 1px solid #9b9b9b;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

