:root {
    --comp-accent: #3664A9;
    --comp-background: #323A45;
    --comp-a1: #4C5E79;
    --comp-a2: #272F3A;
    --comp-a3: #76A0DE;
    --comp-a4: #3A485C;
    --comp-text-color: #fff;
    --comp-gradient: linear-gradient(to left, #5a9cff, rgb(173, 45, 212));
}

.videoplayer {
    font-family: sans-serif;
    --video-progress: 0.5;
    --video-preview: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    background-color: #000;
}

.videoplayer video {
    width: 100%;
    height: 100%;
}

.videoplayer .controlsPane {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 10px 30px;
    background: linear-gradient(to top, black, #ffffff00);
    background-color: transparent;
    transition: .3s;
}

.videoplayer .controlsPane.hidden {
    transform: translateY(100%);
}

.videoplayer .controlsPane:hover {
    transform: translateY(0);
    cursor: default;
}

.videoplayer .controlsPane .timelineContainer {
    height: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.videoplayer .controlsPane .timelineContainer .timeline {
    height: 3px;
    width: 100%;
    position: relative;
    background-color: rgba(206, 206, 206, 0.5);
    transition: .2s;
    overflow: hidden;
    border-radius: 5px;
}

.videoplayer .controlsPane .timelineContainer .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: calc(100% - var(--video-progress)*100%);
    /*background-color: var(--comp-accent);*/
    background: var(--comp-gradient)
}

.videoplayer .controlsPane .timelineContainer .thumb {
    --comp-thumb-scale: 0;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: var(--comp-text-color);
    outline: 5px solid rgba(255,255,255,0.6);
    position: absolute;
    transform: translateX(-50%) scale(var(--comp-thumb-scale));
    left: calc(var(--video-progress)*100%);
    
    transition: transform .3s;
}

.videoplayer .controlsPane .timelineContainer:hover {
    filter: drop-shadow(0 0 7px var(--comp-a3));
}

.videoplayer .controlsPane .timelineContainer:hover .timeline {
    height: 100%;
}

.videoplayer .controlsPane .timelineContainer:hover .thumb {
    --comp-thumb-scale: 1;
}

.videoplayer .controlsPane .timelineContainer .timePreview {
    background-color: #00000088;
    color: white;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 5px;
    bottom: 150%;
    transform: translateX(-50%);
    left: calc(var(--video-preview) * 100%);
    z-index: 11;
    font-size: 18px;
}

.videoplayer .controlsPane .timelineContainer .timePreview.leftClip {
    left: 0;
    transform: translateX(0);
}

.videoplayer .controlsPane .timelineContainer .timePreview.rightClip {
    left: 100%;
    transform: translateX(-100%);
}

.videoplayer .controlsPane .timelineContainer:hover .timePreview {
    display: flex;
}

.videoplayer .controlsPane .time {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.videoplayer .controlsPane .time .duration,
.videoplayer .controlsPane .time .currentTime {
    font-size: 18px;
}

.videoplayer .controlsPane .buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    
}

.videoplayer .controlsPane .buttons .buttonPane {
    display: flex;
    align-items: center;
}

.videoplayer .controlsPane .buttons .buttonPane .button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    opacity: 0.6;
    color: white;
}

.videoplayer .controlsPane .buttons .buttonPane .button.hidden {
    display: none;
}

.videoplayer .controlsPane .buttons .buttonPane .button:hover {
    opacity: 1;
    filter: drop-shadow(0 0 7px white);
}

.videoplayer .controlsPane .buttons .buttonPane .button img svg {
    width: 100%;
}

.videoplayer .controlsPane .buttons .buttonPane .button svg g {
    fill: white;
    stroke: white;
}

.videoplayer .loadingItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    z-index: 11;
}

.videoplayer .loadingItem div {
    width: 20px;
    height: 20px;
    background-color: #ffffffbb;
    border-radius: 50%;
    margin: 5px;
    animation: grow 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.videoplayer .loadingItem div:nth-child(1) {
    animation-delay: -0.24s;
}

.videoplayer .loadingItem div:nth-child(2) {
    animation-delay: -0.12s;
}

.videoplayer .loadingItem div:nth-child(3) {
    animation-delay: 0;
}

@keyframes grow {
    0% {
        transform: scale(0.1);
    }
    50%, 100% {
        transform: scale(1);
    }
}


.videoplayer .loadingItem.hidden {
    display: none;
}

.videoplayer .panel {
    position: absolute;
    display: flex;
    top: 0;
    z-index: 10;
    opacity: 1;
    transition: .3s;
}

.videoplayer .panel.left {
    left: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(to left, black, #00000000);
}

.videoplayer .panel.right {
    right: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(to right, black, #00000000);
}

.videoplayer .panel.top {
    right: 0;
    left: 0;
    height: 100px;
    background: linear-gradient(to bottom, black, #00000000);
}

.videoplayer .panel.hidden {
    opacity: 0;
}

.videoplayer .vol-pane {
    display: flex;
    align-items: center;
}

.videoplayer .vol-pane .slidebar {
    opacity: 0;
    width: 0;
    transition: .4s;
}

.videoplayer .vol-pane:hover .slidebar {
    opacity: 1;
    width: 100px;
}

.videoplayer .floatingPlay {
    width: max(100px, 20%);
    height: max(100px, 20%);
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: transparent;
    transform: translate(-50%, -50%);
    border: none;
    z-index: 100;
    cursor: pointer;
}

.videoplayer .floatingPlay.hidden {
    display: none;
}

.videoplayer .floatingPlay svg {
    width: 100%;
    height: 100%;
}

.videoplayer .floatingPlay svg g {
    fill: white;
    stroke: white;
}

.slidebar {
    --comp-slidebar-value: 0.5;
    width: 100px;
    height: 7px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.slidebar .bar {
    width: 100%;
    position: relative;
    height: 3px;
    display: flex;
    background-color: rgba(206, 206, 206, 0.5);
    overflow: hidden;
    border-radius: 5px;
}

.slidebar .bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: calc(100% - var(--comp-slidebar-value) * 100%);
    /*background-color: var(--comp-accent);*/
    background: var(--comp-gradient);
}

.slidebar .thumb {
    --scale: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: calc(100% * var(--comp-slidebar-value));
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    transition: transform .2s;
    background-color: var(--comp-text-color);
    outline: 5px solid rgba(255,255,255,0.6);
}

.slidebar:hover {
    filter: drop-shadow(0 0 7px var(--comp-a3));
}

.slidebar:hover .bar {
    height: 6px;
}

.slidebar:hover .thumb {
    --scale: 1;
}
